.skills-card {
  display: flex;
  align-items: center;
}

.skill-img {
  width: 100px;
  border: 2px solid #ffffffd8;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 400ms ease-out;
}

.skill-img:hover {
  transition: 400ms ease-out;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.dark-skill-img {
  border: 2px solid #3db6a2;
}

.anchor-skill-link {
  font-family: 'Changa', sans-serif;
  margin-left: 10px;
  font-weight: 300;
  color: #ffffffd8;
  transition: 400ms ease-out;
}

.dark-anchor-skill {
  color: #3db6a2;
  transition: 400ms ease-out;
}

.anchor-skill-link:hover {
  color: #6b3db6;
}

.Certificate-icon {
  font-family: 'Changa', sans-serif;
  font-size: 16px;
  margin-left: 8px;
}

/* scroll-animation */

.skills-scroll-item {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  margin: 20px 0;
}

.skills-scroll-item.show {
  opacity: 1;
  transform: translateY(0);
}
