#typewriter {
  font-size: 1.5em;
  font-family: Audiowide;
  color: #42af42;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 0;
}

.cursor {
  border-right: 0.15em solid #000;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #42af42;
  }
}
