html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #ffffff3b;
  width: 90%;
  margin-top: 10px;
  border-radius: 11px;
  align-self: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px 8px 5px 8px;
  position: fixed;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: 0.2s ease-in-out;
}

.nav-hidden {
  top: -60px;
  transition: 0.4s ease-in-out;
}

.profile-logo {
  width: 35px;
  border-radius: 5px;
  border: 2px solid #d341ba;
}

.nav-ham-cont {
  display: flex;
  align-items: center;
}

.hamburger {
  cursor: pointer;
  margin-right: 2px;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 2em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #d341ba;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.nav-cont-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-cont-2 {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.nav-ul-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding-left: 0px;
}

.nav-link {
  margin-bottom: 10px;
}

.nav-ul-cont-dynamic {
  display: flex;
}

.nav-link-logo {
  font-size: 20px;
  margin-right: 8px;
}

.nav-link-btn {
  background: transparent;
  outline: none;
  border: 0px;
  cursor: pointer;
  font-family: AudioWide;
  font-size: 0.8em;
  font-weight: 100;
  border-radius: 10px;
  transition: 0.4s ease-out;
}

.nav-link-btn:hover {
  background-color: rgb(113, 231, 215);
  transition: 0.4s ease-out;
}

.nav-dark {
  color: #f0f0f0ef;
}

.nav-dark:hover {
  background-color: rgb(194, 95, 207);
  transition: 0.4s ease-out;
}

.nav-link-btn.active-tab-btn {
  background-color: rgb(113, 231, 215);
}

.nav-dark.active-tab-btn {
  background-color: rgb(194, 95, 207);
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
  }
  .nav-cont-1 {
    width: 20%;
  }
  .nav-cont-2 {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .nav-ul-cont {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0px;
  }
  .hamburger {
    display: none;
  }
  .nav-link {
    margin-bottom: 0px;
  }
  .nav-link-logo {
    display: none;
  }
}

/* @media screen and (min-width: 992px) {
  .nav-ul-cont {
    width: 70%;
    margin-left: auto;
  }
  
} */
