/* background-colors */

.color-1 {
  background-color: #ffffffc0;
}
.color-2 {
  background-color: #4aecdec5;
}
.color-3 {
  background-color: #4aec93bd;
}
.color-4 {
  background-color: #ec7975c7;
}
.color-5 {
  background-color: #ec4ae4c7;
}
.color-6 {
  background-color: #65ec4abd;
}

.vertical-timeline-outside {
  max-width: 100vw !important;
}

.custom-timeline-element .vertical-timeline-element-content {
  border-bottom: none !important;
  box-shadow: none !important;
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: none;
    transform: none;
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.git-visualizer-img {
  width: 100%;
}

.project-h1 {
  color: #ffffff;
  font-family: AudioWide;
  font-size: 1.5em;
  transition: 0.4s ease-in-out;
}

.anchor-link-project {
  text-decoration: none;
  color: #ffffff;
}

.project-link-icon {
  font-size: 15px;
  margin-left: 5px;
}

.project-h1:hover {
  color: #89bbeb;
  transition: 0.4s ease-in-out;
}

.project-desc {
  font-family: 'Changa', sans-serif;
  font-size: 1.3em;
  color: #ffffffde;
}

.tech-used-h1 {
  font-family: AudioWide;
  font-style: italic;
  color: #e4b363;
  font-size: 1em;
  font-weight: 500;
}

.technologies-ul-cont {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-li-item {
  font-family: 'Changa', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: auto;
  padding: 2px 10px 2px 10px;
}

@media screen and (min-width: 576px) {
  .git-visualizer-img {
    width: 250px;
  }
}
